@media screen and (min-width: 360px) {
    .forced-line-break {
        display: inline;
    }
    .forced-line-break-2{
    	display: inline-block;
    	width: 100%;
    }
    .products__container {
        height: calc(90rem + 170vw);
	}
	.about__center-image-container {
		width: 6rem;
		height: 6rem;
	}
	.about__content-panel {
		width: calc(100% - 6rem);
	}
}
@media screen and (min-width: 379px) {
	.shopping__space {
		height: 33%;
	}
	.shopping__form-container{
		height: 67%;
	}
}
@media screen and (min-width: 400px) {
    .products__container {
        height: calc(70rem + 295vw);
    }
}

@media screen and (min-width: 480px) {
    .products__container {
        height: calc(153rem + 20vw);
    }
}

@media screen and (min-width: 570px) {
	.products__container {
		height: calc(4.5 * (29vw + 0.7rem));
		max-height: 62rem;
		padding: 0 0.8rem;
	}
	.products__item {
		width: 45%;
		max-width: 26.3rem;
		min-width: 0%;
		height: 33.33%;
	}
	.products__logo {
		height: calc(34vw - 1rem);
		min-height: 11.125rem;
	}
	.products__logo-image {
		height: calc(34vw - 1rem);
		min-height: 11.125rem;
	}
	.founders__container{
		height: 30rem;
	}
	.founders__item{
		width: 33%;
		margin: 0;
	}
	.founders__logo-image {
		width: 12rem;
		height: 12rem;
	}
	.founders__text {
		width: 95%;
		min-width: 12rem;
		height: 6.5rem;
	}
	.forced-line-break-3 {
		display: block;
	}
	.founders__links-container {
		/* height: ; */
		width: 9.0625rem;
		
	}
	
	.founders__links {
	
	}
	
	.founders__link {
		
		width: 40%;
	}
	
	.founders__logo-link  {
		
		height: 3rem;
		width: 3rem;    
		
	}
}

@media screen and (min-width: 650px) {
	.shopping-container {
		background: url(../images/home-tent-2.png);
		background-size: cover;
		background-position: 100% 80%;
		height: 38rem;
	}
	.shopping__space {
		height: 33%;
	}
	.shopping__form-container {
		height: 67%;
	}
	.shopping__content {
		width: 85%;
		margin: 0 7.5%;
	}
	.shopping__text h1 {
		font-size: 3.3rem;
	}	
	#shopping-shop {
		width: 13rem;
		height: 4rem;
		font-size: 1.6rem;
	}


	.services__container{
		height: 25rem;
	}
	.services__item{
		width: 33%;
		margin: 0;
	}
	.services__text{
		min-width: 12rem;
		width: 95%;
	}
	.founders__logo-image {
		width: 13rem;
		height: 13rem;
	}
	
}

@media screen and (min-width: 740px) {
	.products__container {
		height: calc(3 * (14vw + 3.4rem));
		max-height: 50rem;
		padding: 0 0.8rem;

	}
	.products__item {
		width: 29%;
		max-width: 26.3rem;
		min-width: 0%;
		height: 50%;

		
	}
	.products__logo {
		height: calc(20.5vw);
		min-height: 9.5rem;
	}
	.products__logo-image {
		height: calc(20.5vw);
		min-height: 9.5rem;

	}
	.products__text {
		min-width: 12.625rem;
	}
	.products__text h3 { 
		display: inline-block;
		width: 100%;
		min-width: 0;
		margin: 0 auto;
	}
	.founders__logo-image {
		width: 14rem;
		height: 14rem;
	}
	.forced-line-break-3 {
		display: inline-block;
	}
	.founders__text {
		height: 4.5rem;
	}
	.founders__links-container {
    	/* height: ; */
   		width: 11.5rem;
	}

	.founders__links {

	}

	.founders__link {
		width: 31%;
	}

	.founders__logo-link  {
		height: 3rem;
		width: 3rem;    
		
	}
}

@media screen and (min-width: 780px) {
	.shopping-container {
		height: 47.5rem;
		background-position: 78% 100%;
	}
	.shopping__text h1 {
		font-size: 3.7rem;
	}
	

	
}

@media screen and (min-width: 1100px) {
	.forced-line-break-2{
		display: inline;
	}
	.shopping-container {
		height: 47.5rem;
		background-position: 78% 95%;
	}
	.shopping__space {
		height: 30%;
	}
	.shopping__form-container {
		height: 70%;
	}	
	.shopping__text h1 {
		font-size: 4.8rem;
		max-width: 47rem;
	}
	/*#shopping-shop {width: 15rem;height: 4.5rem;font-size: 1.8rem;}*/
	.products__container{
		padding: 0 calc(20vw - 12.6rem);

	}
	.products__item{
		width: 29.5%;
		max-width: 26rem;
	}
}


/* Aspect ratio breakpoints */
@media screen and (min-aspect-ratio: 16 / 9) {
	.popup__image {
		width: 75vw;
		max-width: 53.9rem;
		height: calc(75vw / 6 * 3);
		max-height: calc(53.9rem / 6 * 3);
	}
	.popup__img {
		
	}
}

