@media screen and (min-width: 360px) {
    .forced-line-break {
        display: inline;
    }
    .forced-line-break-2{
    	display: inline-block;
    	width: 100%;
    }
    .products__container {
        height: calc(90rem + 170vw);
    }
}
@media screen and (min-width: 379px) {
	.signup__space {
		height: 33%;
	}
	.signup__form-container{
		height: 67%;
	}
}
@media screen and (min-width: 400px) {
    .products__container {
        height: calc(70rem + 295vw);
    }
}

@media screen and (min-width: 480px) {
    .products__container {
        height: calc(153rem + 20vw);
    }
}

@media screen and (min-width: 650px) {
	
	.signup-container {
		background: url(../images/home-tent.png);
		background-size: cover;
		background-position: 100% 80%;
		height: 38rem;
	}
	.signup__space {
		height: 33%;
	}
	.signup__form-container {
		height: 67%;
	}
	.signup__content {
		width: 85%;
		margin: 0 7.5%;
	}
	.signup__text h1 {font-size: 3.3rem;}

	.services__container{
		height: 25rem;
	}
	.services__item{
		width: 33%;
		margin: 0;
	}
	.services__text{
		min-width: 12rem;
		width: 95%;
	}
	#signup-shop {
		width: 13rem;
		height: 4rem;
		font-size: 1.6rem;
	}

	
}

@media screen and (min-width: 700px) {
	.products__container {
		height: 75rem;
		padding: 0 0.8rem;
	}
	.products__item{
		width: 46%;
		height: 33.33%;
	}
}

@media screen and (min-width: 780px) {
	.signup-container {
		height: 47.5rem;
		background-position: 78% 50%;
	}
	.signup__text h1 {
		font-size: 3.7rem;
	}
	

	
}

@media screen and (min-width: 1100px) {
	.forced-line-break-2{
		display: inline;
	}
	.signup__text h1 {
		font-size: 4.8rem;
		max-width: 47rem;
	}
	/*#signup-shop {width: 15rem;height: 4.5rem;font-size: 1.8rem;}*/
	.products__container{
		height: 50rem;
	}
	.products__item{
		min-width: 30%;
		width: 30%;
		height: 50%;

	}

}